[submodule "sources/vendor/dune-ix"]
	path = vendor/dune-ix
	url = git@github.com:ix-project/dune.git
[submodule "sources/vendor/rumprun"]
	path = vendor/rumprun
	url = git@github.com:rumpkernel/rumprun.git
[submodule "sources/vendor/dune-vusec"]
	path = vendor/dune-vusec
	url = git@github.com:vusec/dune.git
